:root {
	--pixel-bg: lightblue; /* Inner background color */
	--pixel-border: black; /* Inner border color: */
	--pixel: .125rem; /* Pixel size */
}

.player-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    border: 5px solid #ffffff;
    width: 10rem;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 1);
}

.player-name {
    font-size: 1.5rem;
    color: #ffffff;
}